<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-info w-100">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('home_page') }}">News</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-Nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>	
		<div class="collapse navbar-collapse" id="navbar-Nav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item mx-2">
					<a class="nav-link active" aria-current="page" href="{{ url_for('add_news') }}">Add News</a>
				</li>
			</ul>
			<form method="post" class="d-flex mx-5">
				{{ form.hidden_tag() }}
				<input class="form-control me-2 search_input" type="text" placeholder="請輸入關鍵字" aria-label="Search" name="searched" value="{{ searched }}">
				<button class="btn btn-primary search_submit" type="submit">Search</button> 
			</form>	
		</div>
	</div>
</nav>